test_images/
simple_images/
python/__pycache__/
python/.idea/
MESH_MAP/.vs/
MESH_MAP/obj/
MESH_MAP/bin/
# Swift build artifacts
SwiftApp/.build/
# Common Python artifacts
.venv/
__pycache__/
*.pyc
.build/
grib2_files/*.grib2*